@import url('http://fonts.cdnfonts.com/css/nunito');

*{
    font-family: 'Nunito', sans-serif;
}

a .bg-primary{
    background-color: #234CAD !important;
    height: 40px;
}

.nav-item{
    border-bottom: 2px solid #fff;
}

.nav-item:hover{
    border-bottom: 2px solid #234CAD;
    transition: all 0.7s;
}

.navbar-brand.text-primary{
    color: #234CAD !important;
    font-size: 24px !important;
}

.nav-link.text-primary{
    color: #234CAD !important;
    font-weight: 600 !important;
    font-size: 18px !important;
}

a.btn-outline-primary{
    border: 2px solid #234CAD;
    border-color: #234CAD !important;
    color: #234CAD !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    --bs-btn-hover-color: #234CAD !important;
    --bs-btn-hover-bg: #F2F6FF !important;
    transition: all 0.5s;
}

a.btn-primary{
    background-color: #F2F6FF !important;
    border: none;
    font-weight: 700 !important;
    color: #234CAD !important;
    font-size: 18px !important;
    transition: all 0.5s;
}

button .navbar-toggler-icon{
    color: #234CAD !important;
}

i.text-primary{
    color: #234CAD !important;
}

button.navbar-toggler{
    border: none;
    border-radius: 50%;
    background-color: #F2F6FF !important;
    height: 40px;
}

.jumbotron{
    background-color: #F2F6FF;
    color: #234CAD;
}

.jumbotron a.btn-outline-primary{
    font-size: 22px !important;
    transition: all 0.5s;
}

.svg-jumbotron{
    position: absolute;
    height: 45rem;
    top: 4rem;
}

.cloud-lock{
    color: #234CAD;
}

#product{
    color: #234CAD;
}

.product-img{
    height: 500px !important;
}

.product-2{
    overflow: hidden;
}

.glass{
    background: rgba(255, 255, 255, 0.22);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.44);
}

.glass-img{
    position: relative;
    height: 450px;
    top: -300px;
    right: 75px;
    z-index: -1;
}

@media screen and (max-width: 1400px){
    .svg-jumbotron{
        height: 40rem;
    }
}

@media screen and (max-width: 1200px){
    .svg-jumbotron{
        height: 30rem;
    }
}

@media screen and (max-width: 992px){
    #jumbotron-background{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../assets/svg/Jumbotron.svg);
        background-position: 0% 25%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(8px);
        z-index: -1;
    }

    #jumbotron-background #layer{
        background-color: #F2F6FF;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
    }

    .jumbotron {
        position: relative;
        z-index: 9999;
    }
}

#About{
    color: #234CAD; 
}

.Priceing{
    color: #234CAD; 
}

.bg{
position: relative;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-size: cover;
background-repeat: no-repeat;
background: #F2F6FF;
color: #234CAD;
border-radius: 60px;
margin-left: 5ex;
margin-bottom: 12ex;

}
.col h1{
    font: Nunito;
    font-size: 25px;
    margin-top: 2ex;
    margin-bottom: 3ex;
}
.first{
    height: 48px;
    left: 31.75%;
    right: 31.39%;
    top: calc(50% - 48px/2 - 41px);
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 48px;
    text-align: center;  
    color: #234CAD;
}
.col a{
    margin-top: 1;
    margin-bottom: 8ex;
}

.col p{
    margin-top: 1;
    margin-bottom: 5ex;
}
.oke h1{
    color: #234CAD; 
    font-size: 30px;
}

.oke p{
    color: #234CAD; 
    font-size: 18px;
}