@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}

a .bg-primary{
    background-color: #234CAD !important;
    height: 40px;
}

.nav-item{
    border-bottom: 2px solid #fff;
}

.nav-item:hover{
    border-bottom: 2px solid #234CAD;
    transition: all 0.7s;
}

.navbar-brand.text-primary{
    color: #234CAD !important;
    font-size: 24px !important;
}

.nav-link.text-primary{
    color: #234CAD !important;
    font-weight: 600 !important;
    font-size: 18px !important;
}

a.btn-outline-primary{
    border: 2px solid #234CAD;
    border-color: #234CAD !important;
    color: #234CAD !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    --bs-btn-hover-color: #234CAD !important;
    --bs-btn-hover-bg: #F2F6FF !important;
    transition: all 0.5s;
}

a.btn-primary{
    background-color: #F2F6FF !important;
    border: none;
    font-weight: 700 !important;
    color: #234CAD !important;
    font-size: 18px !important;
    transition: all 0.5s;
}

button.btn-primary{
    background-color: #F2F6FF !important;
    border: none;
    font-weight: 700 !important;
    color: #234CAD !important;
    font-size: 18px !important;
    transition: all 0.5s;
}

button .navbar-toggler-icon{
    color: #234CAD !important;
}

i.text-primary{
    color: #234CAD !important;
}

button.navbar-toggler{
    border: none;
    border-radius: 50%;
    background-color: #F2F6FF !important;
    height: 40px;
}

.jumbotron{
    background-color: #F2F6FF;
    color: #234CAD;
}

.jumbotron a.btn-outline-primary{
    font-size: 22px !important;
    transition: all 0.5s;
}

.svg-jumbotron{
    position: absolute;
    height: 45rem;
    top: 4rem;
}

.cloud-lock{
    color: #234CAD;
}

#product{
    color: #234CAD;
}

.product-img{
    height: 500px !important;
}

.product-2{
    overflow: hidden;
}

.glass{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.44);
}

.glass-img{
    position: relative;
    height: 450px;
    top: -300px;
    right: 75px;
    z-index: -1;
}

.register-page{
    background-image: url(../assets/svg/Jumbotron.svg);
    background-size: 50%;
}

.register-page .glass{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.44);
}

.register{
    overflow: hidden;
    color:#234CAD;
}

.login-page{
    background-image: url(../assets/svg/CardContent.svg);
    background-size: 50%;
}

.login-page .glass{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.44);
}

.login{
    overflow: hidden;
    color:#234CAD;
}

hr.text-primary{
    color: #234CAD !important;
}

form .btn-outline-primary{
    border: 2px solid #234CAD;
    border-color: #234CAD !important;
    color: #234CAD !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    --bs-btn-hover-color: #234CAD !important;
    --bs-btn-hover-bg: #F2F6FF !important;
    transition: all 0.5s;
}

.glass-img-bigger{
    position: relative;
    height: 750px;
    top: -500px;
    right: 250px;
    z-index: -1;
}

h3.text-primary{
    color: #234CAD !important;
}

.plan-bg{
    background: #F2F6FF;
    border: 2px solid #ffffff;
    color: #234CAD;
    border-radius: 60px;
}

.plan-bg-hovered{
    border: 2px solid #234CAD;
    color: #234CAD;
    border-radius: 60px;
}

.plan-btn{
    background-color: #FFFFFF !important;
    color: #234CAD !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    --bs-btn-hover-color: #234CAD !important;
    --bs-btn-hover-bg: #F2F6FF !important;
    transition: all 0.5s;
}

.col h2{
    font-size: 25px;
    margin-top: 2ex;
    margin-bottom: 3ex;
}

.plan{
    color: #234CAD;
}

.col a{
    margin-top: 1;
    margin-bottom: 8ex;
}

.col p{
    margin-top: 1;
    margin-bottom: 5ex;
}

.footer-list h2{
    color: #234CAD; 
    font-size: 30px;
}

.footer-list p{
    color: #234CAD; 
    font-size: 18px;
}

#about {
    color: #234CAD !important;
    position: inherit !important;
}

#pricing {
    color: #234CAD !important;
}

.input{
    height: auto;
    width: 50%;
    margin: 0 auto;
    background-color: #F2F6FF;
    border-radius: 60px;
}

.bg-btn{
    background-color: #234CAD !important;
    border-radius: 30px;
}

.fa-angle-right{
    color: #F2F6FF;
}

.toast-img{
    background-color: #234CAD !important;
    height: 20px
}

.toast-img-error{
    height: 20px
}

strong.text-primary{
    color: #234CAD !important;
}

@media screen and (max-width: 1400px){
    .svg-jumbotron{
        height: 40rem;
    }
}

@media screen and (max-width: 1200px){
    .svg-jumbotron{
        height: 30rem;
    }
}

@media screen and (max-width: 992px){
    #jumbotron-background{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../assets/svg/Jumbotron.svg);
        background-position: 0% 25%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(8px);
        z-index: -1;
    }
    
    #jumbotron-background #layer{
        background-color: #F2F6FF;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
    }
    
    .jumbotron {
        position: relative;
        z-index: 9999;
    }
}

@media screen and (max-width: 768px){
    #about {
        margin-top: -325px !important;
    }
    
    .register-page {
        background-size: 350px;
    }
    
    .login-page {
        background-size: 350px;
    }
}